body {
    background-color: rgb(252, 194, 172);
    padding: 3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulos {
    text-align: center;
}

.box1 {
text-align: center;
padding-top: 1%;
border: pink solid;
background-color: rgb(230, 197, 203);
}

.negrita {
    font-weight: bold;
}

.imagenes {
    display: inline-flex;
    height: 200px;
    width: 200px;
    margin: 4%;
    margin-bottom: 2%;
}

.parrafo {
    margin-top: 2%;
    text-align: center;
    background-color: rgb(230, 197, 203);
    font-size: medium;
}

.datosEnumerados {
    height: 40%;
    width: 90%;
    margin: 3%;
    text-align: left;
    /*font-weight: bold;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px lightcoral solid;
    background-color: rgb(230, 197, 203);
}

.imagen {
    text-align: center;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    display: inline;
}

.pie {
    margin: auto;
    background-color: rgb(203, 238, 133);
    border: 4px yellowgreen solid;
    height: 5%;
    width: 70%;
    text-align: center;
}
