.encabezado {
display: flex;
width: 90%;
height: 20%;
background-color: aquamarine;
border: 3px black solid;
align-items: center;
}

.logo {
    margin-top: 6%;
    margin-left: 2%;;
    text-align: center;
    width: 10%;
    height: 10%;
    border: 2px black solid;

}

.menu {
    margin-inline-start: 20%;
    justify-content: flex-end;
    flex-direction: column;

}

.menu2 {
    text-align: right;
    flex-direction:column;
    justify-content: flex-end;
}